@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
div {
    border: 2px solid black;
    background-color: #005f73;
    padding: 10px;
    position: sticky;
    top: 15px;
    color: white;
    font-size: 25px;
    font-weight: 600;
}

h2 {
    background-color: #073b4c;
    border: 2px solid black;
    text-align: center;
    padding: 30px;
    color: white;
}

li {
    background-color: #e2ece9;
    padding: 10px;
    margin: 5px;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}